/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/storage
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/images
public/company
public/consultantproject
public/banner
public/report_downloads/
public/uploads/
storage/framework/
public/pdf/company_overview/
public/noregs_company/
public/custom_pdf_upload/
storage/framework/
