/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px


@media (min-width: 768px) and (max-width: 1024px) {
    .spinnerCimg img {
        margin-bottom: 75px;
        float:left;
        padding-top:70px;
        padding-left:2px;
    }
}

*/




<!-- below are original css code by Victor -->
.niceDisplay{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: white;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}



/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    cursor: pointer;
}

.hero-text2 {
    text-align: justify;
    position: absolute;
    top: 90%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    width:800px;

}

#brandMessage {
    font-size: 25px;
}

#sloganMessage {
    font-size: 15px;
}

.close {
    line-height: 12px;
    width: 18px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right:15px;
    position: absolute;
    top: 0;
    right: 0;
}



* {
    margin:0;
    padding:0;
}
.pie {
    background-color:#ecc0b7;
    width:200px;
    height:200px;
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    border-radius:100px;
    position:relative;
}
.clip1 {
    position:absolute;
    top:0;
    left:0;
    width:200px;
    height:200px;
    clip:rect(0px, 200px, 200px, 100px);
}
.slice1 {
    position:absolute;
    width:200px;
    height:200px;
    clip:rect(0px, 100px, 200px, 0px);
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    border-radius:100px;
    background-color:#f7e5e1;
    border-color:#f7e5e1;
    -moz-transform:rotate(0);
    -webkit-transform:rotate(0);
    -o-transform:rotate(0);
    transform:rotate(0);
}
.clip2 {
    position:absolute;
    top:0;
    left:0;
    width:100px;
    height:100px;
    clip:rect(0, 100px, 200px, 0px);
}
.slice2 {
    position:absolute;
    width:200px;
    height:200px;
    clip:rect(0px, 200px, 200px, 100px);
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    border-radius:100px;
    background-color:#f7e5e1;
    border-color:#f7e5e1;
    -moz-transform:rotate(0);
    -webkit-transform:rotate(0);
    -o-transform:rotate(0);
    transform:rotate(0);
}
.status {
    position:absolute;
    height:30px;
    width:200px;
    line-height:60px;
    text-align:center;
    top:50%;
    margin-top:-35px;
    font-size:50px;
}